amqp:
  broker: ${PEM111_AMQP_BROKER:amqp://localhost:5672}
  queueName: ${PEM111_AMQP_QUEUE_NAME:encounter-report-test}
  exchange: amq.direct
  username: ${PEM111_AMQP_USERNAME:}
  password: ${PEM111_AMQP_PASSWORD:}

soap:
  validationEnabled: ${PEM111_SOAP_VALIDATION_ENABLED:false}
  sendTo: ${PEM111_SOAP_SEND_TO:http://localhost:8080/report}

itk:
  odsCodes: ${PEM111_ITK_ODS_CODE_LIST:}
  dosIds: ${PEM111_ITK_DOS_ID_LIST:}
  externalConfigurationServiceUrl:
  fetchIntervalMinutes: ${PEM111_ITK_FETCH_INTERVAL_MIN:5}

version: ${PEM111_VERSION:1.0.0}
